* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111; 
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.bloque {
    background-color: #dcecfc; 
    text-align: center;
    padding: 20px;
    margin-bottom: 10px; 
    text-transform: uppercase;
    min-height: 60px; 
    display: block;
    width: 100%;
    float: none;
}

#cuerpo { min-height: 300px; display: flex; align-items: center; justify-content: center; }
#nav1 { line-height: 200px; }
#banner { line-height: 60px; }

.limpiar {
    clear: both;
    height: 0;
    visibility: hidden;
}

.columna-central {
    width: 100%;
    float: none;
}


@media screen and (min-width: 700px) and (max-width: 1199px) {
    body {
        font-family: 'Calibri', sans-serif;
    }

    #nav1 {
        float: left;
        width: 25%;
        margin-right: 2%; 
        height: 300px; 
    }

    .columna-central {
        float: left;
        width: 73%;
    }
  
    #nav2 {
        display: none;
    }

    #cuerpo {
        width: 100%;
        margin-bottom: 10px;
        height: 300px;
    }

    #banner {
        clear: both; 
        width: 100%;
        float: none;
    }
}


@media screen and (min-width: 1200px) {
    body {
        font-family: 'Arial', sans-serif;
    }

    #nav1 {
        float: left;
        width: 20%;
        margin-right: 1%;
        height: 400px; 
    }

    .columna-central {
        float: left;
        width: 58%;
        margin-right: 1%;
    }

    #nav2 {
        display: block; 
        width: 100%;
    }

    #cuerpo {
        width: 100%;
        height: 330px; 
    }
   
    #banner {
        float: left; 
        width: 20%;
        height: 400px; 
        margin-bottom: 10px;
    }

    #footer {
        clear: both; 
    }
}